{% include base_path %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 }}">
<meta name="author" content="{{ site.author.name | default: site.name }}">

<title>{% if page.title and page.title != "" %}{{ page.title }} · {% endif %}{{ site.title }}</title>

<link rel="icon" href="{{ base_path }}/images/favicon.ico" sizes="32x32">

<script>
  if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    document.documentElement.classList.add('theme-dark');
    document.body && document.body.classList.add('theme-dark');
  }
</script>

<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">
